<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Get <strong>FUUUUUUUCKED</strong> UUUUUUUPPPP!</h1>
    <p>Change your life and learn to become an alcoholic at one of our campuses around the world.</p>

    <%= link_to new_cocktail_path do%>
      <h3 class="btn btn-primary" href="">Add a new drank</h3>
    <% end %>
  </div>
</div>
